<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KittyCAD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <meta name="description" content="A simple computer aided design (CAD) tool for cats to run on a web browser.">
        <link rel="icon" href="images/icons/compass.ico">
        <link rel="stylesheet" href="cat-tree.component.css">
    </head>
    <body ontouchstart="">
        <!--STYLES-->
        <link rel="stylesheet" href="bower_components/three.js/editor/css/main.css">
        <link rel="stylesheet" href="bower_components/three.js/editor/js/libs/codemirror/codemirror.css">
        <link rel="stylesheet" href="bower_components/three.js/editor/js/libs/codemirror/theme/monokai.css">
        <link rel="stylesheet" href="bower_components/three.js/editor/js/libs/codemirror/addon/dialog.css">
        <link rel="stylesheet" href="bower_components/three.js/editor/js/libs/codemirror/addon/show-hint.css">
        <link rel="stylesheet" href="bower_components/three.js/editor/js/libs/codemirror/addon/tern.css">
        <!--STYLES END-->

        <!--STYLES WITH THEME ID-->
        <link id="theme" rel="stylesheet" href="bower_components/three.js/editor/css/dark.css">
        <!--STYLES WITH THEME ID END-->

    </body>
</html>
